.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  margin: 0 auto;
  justify-content: center;
}