$breakpoint-medium-min: 768px;
$breakpoint-medium-max: 767px;
$breakpoint-large-min: 1071px;
$breakpoint-large-max: 1070px;
$breakpoint-xlarge: 1360px;
// $breakpoint-large-min: 992px;
// $breakpoint-large-max: 991px;
// $breakpoint-xlarge: 1200px;