@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$karla: 'Karla', sans-serif;