@import '../../styles/media';

@media #{$laptop} {
  .Index {
    flex-direction: column !important;

    .Episodes {
      display: flex;
      flex-direction: row;
    }
  }

  .Left {
    max-width: 40%;
    min-width: 40%;
    width: 40%;
  }

  .Right {
    display: inline-grid;
    grid-gap: 2%;
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    margin-left: 2%;
    max-width: 58%;
    min-width: 58%;
    width: 58%;
  }
}

@media #{$tab} {
  .Right {
    & > div {
      margin: 10% 0;
    }
  }
}