@import '../../variables/main';

@keyframes glitch {
  0%   { transform: translate(0px) }
  25%  { transform: translate(3px) }
  50%  { transform: translate(-3px) }
  75%  { transform: translate(3px) }
  100% { transform: translate(0px) }
}

.UnderDevelopment {
  animation: glitch 5s both infinite;
  align-items: center;
  font-size: 2rem;
  flex-direction: column;
  justify-content: center;

  @media #{$phone-landscape} { font-size: 4rem }
  @media #{$tablet-portrait} { font-size: 5rem }
  @media #{$desktop-1366} { font-size: 8rem }

  &:before, &:after {
		display: block;
		content: 'Under Development';
		position: absolute;
		top: 0;
		left: .5px;
		height: 100%;
		width: 100%;
		opacity: .75;
  }
  
  &:after {
		color: $blue;
		z-index: -2;
    animation: glitch 3s reverse both infinite;
  }
  
  &:before {
		color: $red;
    z-index: -1;
    animation: glitch 3s both infinite;
	}
}
