@import '../../styles/media';
@import '../../styles/fonts';
@import '../../styles/colors';

.Card, .MaxCard {
  border-radius: 5px;
  background-color: $dark;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
  cursor: pointer;
  padding: 20px;
  text-align: justify;
  text-justify: inter-word;

  &:hover {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,1);
  }
}

.MaxCard {
  & .ImageContainer {
    margin: auto;
    text-align: center;
  }

  & img {
    max-width: 70%;
    border: 1px solid white;
  }

  & .Title {
    font-weight: bold;
    font-size: 1.55rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-family: $karla;
    padding-bottom: 2px;
    border-bottom: 2px solid $light;
  }

  & .Description {
    font-size: 1.10rem;
    margin-bottom: 5%;
    font-family: $roboto;
  }

  & .Icon {
    margin-right: 10px;
    display: inline-block;
  }
}

.Card {
  display: flex;
  height: 120px;

  & .ImageContainer {
    margin-right: 5%;
  }

  & img {
    max-width: 120px;
    border: 1px solid white;
  }

  & .Title {
    font-weight: bold;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
    font-family: $karla;
    padding-bottom: 1px;
    border-bottom: 1px solid $light;
  }

  & .Attribute {
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    & .Description {
      margin-bottom: 5%;
      overflow: hidden;
      font-family: $roboto;
    }

    @media #{$tab} {
      // & .Description {
      //   display: none; 
      // }
    }
  }

  & .Icon {
    margin-right: 10px;
    display: inline-block;
  }
}