@import '../../styles/media';
@import '../../styles/breakpoint';
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width:$breakpoint-medium-min) {
    width: 750px;
  }

  @media (min-width:$breakpoint-large-min) {
    width: 970px;
  }

  @media (min-width:$breakpoint-xlarge) {
    width: 1170px;
  }

  margin: 0 auto;
  overflow: auto;
  background:rgba(187, 225, 250, 1.0);
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid rgba(0,0,0,.15);
  transition:background 0.5s ease;
}