@import '../../styles/media';
@import '../../styles/breakpoint';
@import '../../styles/colors';
@import '../../styles/fonts';

.footer {
  width: 100%;
  height: 75px;
  margin-top: 20px;
  padding: 20px 0;
  background: $light;
}